.header {
    background-color: var(--azul);
    padding: 1.25rem;
    width: 100vw;
}

.container {
    color: hsl(0, 0%, 90%);
    width: var(--pageSize);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSide, .rightSide {
    gap: 2rem;
    align-items: center;
}

.searchBar {
    background-color: white;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: .5rem;
    color: #252525;
}

.input {
    width: clamp(225px, 25vw, 500px);

    &:focus {
        outline: none;
    }
}