.container {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.input {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
    padding: .25rem;
    transition: all .6s ease-out;

    &:focus {
        outline: none;
        border-bottom: 2px solid var(--azul);
        margin-bottom: 0;
    }
}

.textara {
    height: max(20px, max-content);
}

.errorMsg {
    color: var(--errorcolor);
    font-style: italic;
    font-size: .8em;
}